
    .btn-audio {
        width: 100px;
        height: 100px;
        background: url(/static/images/b1.png) no-repeat center bottom;
        background-size: cover;
        text-align: left;
        margin: 0px;
        padding:0px;
    }