{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta http-equiv="X-UA-Compatible" content="IE=10"/>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>hello {{ name }}</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <link rel="styleSheet" href="{% static 'css/audio.css' %}" type="text/css">
    <link rel="styleSheet" href="{% static 'css/index.css' %}" type="text/css">
    <script src="{%  static 'js/audio.js'%}"></script>
    <!--{% load static %} -->

</head>

<body>
<style type="text/css">
    .rt{
    width:auto;
    height:0;
    position:absolute;
    top:20px;
    right:10px;
    }

</style>
<h1> Yo,Hello! </h1>
</body>
<form action="hello/" method="post">
    <input type="submit" value="I'm from index">

</form>
<input type="button" class="blue_btn" value="查看图吧" onclick="javascript:window.location.href='/polls/drawing'"/>
<p>
<div class="rt">

    <span>
        <form action="logout/" method="post">
        <input type="submit" value="{{name}}:登出" align="right">
    </form>
    </span>

</div>
</p>
<H1> This is a audio :</H1>
<div>
    <div class="btn-audio">
        <!--<audio id="mp3Btn" autoplay="autoplay">-->
        <audio id="mp3Btn">
            <source src="{%  static 'audio/Hanser-gwm.mp3' %}">
            <source src="{% static 'audio/VORACITY.flac'%}">

        </audio>
    </div>
</div>

<p>
<H1>Questions List</H1>
</p>
<div>
    {% if latest_question_list %}

    <ul>
        {% for question in latest_question_list %}

        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>

        {% endfor %}
    </ul>

    {% else %}
    <p>There is no polls </p>
    {% endif %}
</div>

</html>