{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>hello {{ name }}</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{%  static 'js/audio.js'%}"></script>
    <!--{% load static %} -->

</head>

<body>
<!--<div>-->
<!--    <input type="button" class="resttest" value="get">-->
<!--    <input type="button" class="resttest" value="put">-->
<!--    <input type="button" class="resttest" value="delete">-->
<!--    <input type="button" class="resttest" value="post">-->
<!--    <input type="button" class="resttest" value="zidingyi">-->
<!--</div>-->
<!--<div id="showMethod">showMethod</div>-->
<style type="text/css">
    .rt{
    width:auto;
    height:0;
    position:absolute;
    top:20px;
    right:10px;
    }

    #showing{
    width:auto;
    height:auto;
    position:absolute;
    left:20px;
    bottom:auto;
    }
    .table_name:hover{color:blue}

    #drawing{
    width:auto;
    height:auto;
    position:absolute;
    left:auto;
    bottom:10px;
    right:10px
    }




</style>
<h1> Yo,Hello! </h1>
<p>
<div class="rt">

    <span>
        <form action="logout/" method="post">
        <input type="submit" value="{{name}}:登出" align="right">
    </form>
    </span>

</div>
</p>

<p>
<H1>Table List</H1>
</p>
<input type="search" id="find_str" placeholder="查询的表名"><input type="button" value="查询" id="search">
<div id="showing">
    <form>
        {% csrf_token %}

        <ul>
            {% for table in tables %}
            <li class="table_name" style="cursor:hand" value="1"> {{ table.table_name }}</li>

            {% endfor %}

        </ul>

    </form>
</div>

<script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
<script type="text/javascript">

        	    $('#search').click(function () {
        	    this_button = $(this)
                this_button.attr("disabled",true);
                var csrf =$("input[name='csrfmiddlewaretoken']").val()
                var find_str =$('#find_str').val()
		        $.ajax({
				  url:  '{% url 'mycharts:searchtable'%}',
				  type: 'POST',
				  async: true,
				  traditional:true,
				  headers:{'X-CSRFtoken':csrf},
				  data: JSON.stringify({'find_str':find_str}),
				  processData: false,// 告诉jQuery不要去处理发送的数据
				  contentType: false,// 告诉jQuery不要去设置Content-Type请求头
				  beforeSend: function() {//过程...
                    $("#showing").html('正在查询...');
				  },
				  complete : function ()
				  {
                this_button.attr("disabled",false);
				  },
				  success: function (res) {

                          $("#showing").html(res);


				   },
				   error:function(){
				   		console.log('404')
				   }
				})


			})
;

        	    $('.table_name').click(function () {
        	    this_button = $(this)
                this_button.attr("disabled",true);
                var csrf =$("input[name='csrfmiddlewaretoken']").val()
                var table_name =this_button.text()

		        $.ajax({
				  url:  '{% url 'mycharts:drawtable' %}',
				  type: 'POST',
				  async: true,//ajax的async设置为false时浏览器的渲染(UI)线程和js线程是互斥的，所以修改ui的beforeSend是不会生效的。
				  traditional:true,
				  timeout:4000,
				  headers:{'X-CSRFtoken':csrf},
				  data: JSON.stringify({'table_name':table_name}),
				  processData: false,// 告诉jQuery不要去处理发送的数据
				  contentType: false,// 告诉jQuery不要去设置Content-Type请求头
				  beforeSend: function() {//过程...
                    $("#drawing").html('<H1 >Drawing...</H1>');
				  },
				  complete : function ()
				  {

				  },
				  success: function (res) {

                          $("#drawing").html(res);

				   },
				   error:function(){
				   		console.log('404')
				   },
				   				   　　complete : function(XMLHttpRequest,status){ //请求完成后最终执行参数
 　　　                　if(status=='timeout'){//超时,status还有success,error等值的情况
                     $("#drawing").html("请求响应超时");

            　　　　}
            　　}
				})

			   setTimeout(function(){
                this_button.attr("disabled",false);
                }, 1000);

			})


</script>
<div id="drawing"></div>
</body>
</html>