<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">

{% csrf_token %}
<ul>
    {% for table in page_obj.object_list %}
    <li class="table_name" style="cursor:hand" >{{ table.table_name }}</li>
    {% endfor %}
</ul>
<ul class="pagination">
  {# 如果当前页还有上一页 #}
  {% if page_obj.has_previous %}
   <li>
  <a href="?index={{ page.previous_page_number }}">上一页</a>
   </li>
  {% else %}
   {# 如果没有上一页， 则上一页按钮不可点击 #}
   <li class="disabled">
    <a href="#">上一页</a>
   </li>
  {% endif %}

  {% for page_number in page_obj.my_page_range %}
   {# 获取当前页的页码 #}
   {% if page_number == page_obj.number %}
    {# 如果是当前页的话，选中 #}
    <li class="active" >
     <a  href="#">{{ page_number }}</a>
    </li>
   {% else %}
    <li>
     <a href="?index={{ page_number }}">{{ page_number }}</a>
    </li>
   {% endif %}

  {% endfor %}

  {% if page_obj.has_next %}
   <li>
<!--    <input  class="pagebutton" value="{{ page_obj.next_page_number }}">下一页-->
         <a href="?index={{ page_obj.next_page_numbe }}">下一页</a>
   </li>
  {% else %}
  <li class="disabled">
   <a href="#" >下一页</a>
  </li>
  {% endif %}
 </ul>


</div>
</body>


<script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
<script type="text/javascript">
        	    $('.table_name').click(function () {
        	    this_button = $(this)
                this_button.attr("disabled",true);
                var csrf =$("input[name='csrfmiddlewaretoken']").val()
                var table_name =this_button.text()

		        $.ajax({
				  url:  '/mycharts/drawtable/',
				  type: 'POST',
				  async: true,
				  traditional:true,
				  headers:{'X-CSRFtoken':csrf},
				  data: JSON.stringify({'table_name':table_name}),
				  processData: false,// 告诉jQuery不要去处理发送的数据
				  contentType: false,// 告诉jQuery不要去设置Content-Type请求头
				  beforeSend: function() {//过程...
                    $("#drawing").html('<H1 >Drawing...</H1>');
				  },
				  complete : function ()
				  {

				  },
				  success: function (res) {

                          $("#drawing").html(res);

				   },
				   error:function(){
				   		console.log('404')
				   }
				})

			   setTimeout(function(){
                this_button.attr("disabled",false);
                }, 1000);

			})

</script>

</html>